# Compiled object files
*.o
*.obj

# Executable files
*.exe
*.out
*.app
/tsc
/tsd
/coordinator
/synchronizer

# IDE directories
.idea/
.vscode/

# Proto files
/*.grpc.pb.cc
/*.grpc.pb.h
/*.pb.cc
/*.pb.h

# Storage files
files/
